[submodule "WAVEGO"]
	path = WAVEGO
	url = https://github.com/vitorcalvi/WAVEGO
[submodule "DeepSpeech"]
	path = DeepSpeech
	url = https://github.com/mozilla/DeepSpeech
[submodule "raspberrypi-docker-tensorflow-opencv"]
	path = raspberrypi-docker-tensorflow-opencv
	url = https://github.com/vitorcalvi/raspberrypi-docker-tensorflow-opencv
