[submodule "WAVEGO"]
	path = WAVEGO
	url = https://github.com/vitorcalvi/WAVEGO
[submodule "DeepSpeech"]
	path = DeepSpeech
	url = https://github.com/mozilla/DeepSpeech
[submodule "raspberrypi-docker-tensorflow-opencv"]
	path = raspberrypi-docker-tensorflow-opencv
	url = https://github.com/vitorcalvi/raspberrypi-docker-tensorflow-opencv
[submodule "WAVEGO-DOF"]
	path = WAVEGO-DOF
	url = https://github.com/vitorcalvi/WAVEGO-DOF
[submodule "picotts"]
	path = picotts
	url = https://github.com/naggety/picotts
[submodule "gti-aistick"]
	path = gti-aistick
	url = https://github.com/vitorcalvi/gti-aistick
[submodule "rex-gym"]
	path = rex-gym
	url = https://github.com/vitorcalvi/rex-gym
[submodule "seeed-voicecard"]
	path = seeed-voicecard
	url = https://github.com/vitorcalvi/seeed-voicecard
[submodule "WM8960-Audio-HAT"]
	path = WM8960-Audio-HAT
	url = https://github.com/waveshare/WM8960-Audio-HAT
